<!DOCTYPE html>
<html lang="en" ng-app="chatModule">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type='text/css' rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
    <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js'></script>
    <script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <!-- AngularJS JS 1.5.7 -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script>
        $(document).ready(() => {
            resize();
            $('body').animate({
                opacity: 1
            }, 1000);
        });

        $(window).resize (resize);

        function resize () {
            $('.chat-container').css ('height', $(window).innerHeight()-200+'px');
            console.log ($('.chat-container').css('height'));
        }
    </script>
    <link href='css/chat.css' rel='stylesheet' type='text/css'/>
</head>

<body ng-controller='ChatController'>
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src='img/logo.png' width=30 height=30/></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">logged in as {{session.username}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="http://localhost:3000/user/logout">Sign off</a></li>
                    <li><a href="#">Delete account</a></li>
                    <li><a href="#">Vanish my data</a></li>
                    <li><a href="#">Some random option</a></li>
                </ul>
            </li>
        </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <section class='container chat-container'>
        <section class='chat-header'>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Active members <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat='user in users'><a href="#">{{user}}</a></li>
                    </ul>
                </li>
            </ul>
        </section>
        
        <section class='chats'>
            <section class='ind-chat'>
                <img src='img/user.png' width=20 height=20/>
                <section class='chat-content'>
                    <a class='username' href>xyz</a><br/>
                    This is the message content that contains a super large message
                </section>
            </section>
            <section class='ind-chat'>
                <img src='img/user.png' width=20 height=20/>
                <section class='chat-content'>
                    <a class='username' href>xyz</a><br/>
                    This is the message content that contains a super large message
                </section>
            </section>
            <section class='self'>
                <img src='img/user.png' width=20 height=20/>
                <section class='chat-content-self'>
                    <a class='username' href>gauravs</a><br/>
                    <p>This is some random message by me</p>
                </section>
            </section> 
        </section>

        <section class='chat-footer'>
            <textarea placeholder='type in your message'></textarea>&nbsp;
            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
        </section>
    </section>

    <script type='text/javascript'>
        var module = angular.module ('chatModule', []);
        module.controller ('ChatController', ['$http', '$scope', ($http, $scope) => {
            $scope.test =  "Welcome user";
            $scope.session = {};

            $scope.users = [];

            var socket = io.connect ('http://localhost:3000');
            socket.on ('server-connected', (data) => {
                console.log ('server connected');

                initSession ();
            });

            socket.on ('new-user', (data) => {
                console.log (JSON.stringify(data));
                $scope.users.push (data.user);

                console.log ($scope.users);
            });

            function initSession () {
                $http({
                    method: 'GET',
                    url: 'http://localhost:3000/user/getSession'
                }).then (function successCallback (data) {
                    if (data.data.status == 'success') {
                        $scope.session = data.data.data;
                        socket.emit ('user-joined', $scope.session);
                    } else {
                        console.log (data.data.message);
                        window.location = 'http://localhost:3000/login';
                    }
                }, function errorCallback (data){ 
                    console.log (data);
                    window.location = 'http://localhost:3000/login';
                });    
            }
        }]);
    </script>
</body>

</html>