<!DOCTYPE html>
<html lang="en" ng-app="chatModule">
<head>
    <title>Chat Room</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type='text/css' rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
    <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js'></script>
    <script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <!-- AngularJS JS 1.5.7 -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script>
        $(document).ready(() => {
            resize();
            $('body').animate({
                opacity: 1
            }, 1000);
        });

        $(window).resize (resize);

        function resize () {
            $('.chat-container').css ('height', $(window).innerHeight()-200+'px');
            console.log ($('.chat-container').css('height'));
        }
    </script>
    <link href='css/chat.css' rel='stylesheet' type='text/css'/>
</head>

<body ng-controller='ChatController'>
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src='img/logo.png' width=30 height=30/></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">logged in as {{session.username}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/user/logout">Sign off</a></li>
                    <li><a href="#">Delete account</a></li>
                    <li><a href="#">Vanish my data</a></li>
                    <li><a href="#">Some random option</a></li>
                </ul>
            </li>
        </ul>
        </div>
    </nav>
    <section class='container chat-container'>
        <section class='chat-header'>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Active members <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        
                    </ul>
                </li>
            </ul>
        </section>
        
        <section class='chats'>
            <p class='no-chat-error text-center'></p>

            <section ng-repeat='chat in chats' ng-class='chat.cssContainer'>
                <section ng-class='chat.cssMain'>
                    <img src='img/user.png' width=20 height=20/>
                    <section ng-class='chat.cssContent'>
                        <a class='username' href>{{chat._user.username}}</a><br/>
                        {{chat.message}}
                    </section>
                </section>
            </section>
        </section>
        <br/><br/><br/><br/><br/>
        <section class='chat-footer'>
            <textarea id='input-message' placeholder='type in your message'></textarea>&nbsp;
            <span class="glyphicon glyphicon-send" ng-click='sendMessage()' aria-hidden="true"></span>
        </section>
    </section>

    <script type='text/javascript'>
        var module = angular.module ('chatModule', []);
        module.controller ('ChatController', ['$http', '$scope', ($http, $scope) => {
            $scope.test =  "Welcome user";
            $scope.session = {};

            $scope.users = [];
            $scope.chats = [];

            var socket = io.connect ('/');
            socket.on ('server-connected', (data) => {
                console.log ('server connected');

                initSession ();
                getChatMessages();
            });

            socket.on ('new-user', (data) => {
                console.log (JSON.stringify(data));
                $scope.users.push (data.user);

                console.log ($scope.users);
            });

            socket.on ('new-message', (data) => {
                if (data._user.username == $scope.session.username) {
                    data.cssContainer = 'self-container';
                    data.cssMain = 'self';
                    data.cssContent = 'chat-content-self';
                } else {
                    data.cssContainer = 'ind-chat-container';
                    data.cssMain = 'ind-chat';
                    data.cssContent = 'chat-content';
                }
                $scope.chats.push (data);
                // $http({
                //     method: 'GET',
                //     url: '/chat/populate_single/'+ data._id
                // }). then (function successCallback (data) {
                //     var response = data.data;
                //     if (response.status == 'success') {
                //         if (response.data._user.username == $scope.session.username) {
                //             response.data.cssContainer = 'self-container';
                //             response.data.cssMain = 'self';
                //             response.data.cssContent = 'chat-content-self';
                //         } else {
                //             response.data.cssContainer = 'ind-chat-container';
                //             response.data.cssMain = 'ind-chat';
                //             response.data.cssContent = 'chat-content';
                //         }
                //         $scope.chats.push (response.data);
                //     } else {
                //         console.log ('ERROR '+ response.message);
                //     }
                // }, function errorCallback (data) {
                //     console.log ('ERROR: '+ data.data);
                // });;
                
                // $('.chats').scrollTop ($('.chats').scrollHeight);
            });

            // fetch the messages on load
            function getChatMessages () {
                $http({
                    method: 'GET',
                    url: '/chat/populate'
                }).then (function successCallback (data) {
                    var response = data.data;
                    console.log (response);
                    if (response.status == 'success') {
                        $('.no-chat-error').html ('');

                        console.log (response.data);
                        response.data.forEach ((val) => {
                            if (val._user.username == $scope.session.username) {
                                val.cssContainer = 'self-container';
                                val.cssMain = 'self';
                                val.cssContent = 'chat-content-self';
                            } else {
                                val.cssContainer = 'ind-chat-container';
                                val.cssMain = 'ind-chat';
                                val.cssContent = 'chat-content';
                            }

                            $scope.chats.push (val);
                        });
                    } else {
                        $('.no-chat-error').html ('No chats found');
                    }
                }, function errorCallback (data) {
                    $('.no-chat-error').html ('Error with loading chats');
                });
            }

            // init the session variable
            function initSession () {
                $http({
                    method: 'GET',
                    url: '/user/getSession'
                }).then (function successCallback (data) {
                    if (data.data.status == 'success') {
                        $scope.session = data.data.data;
                        socket.emit ('user-joined', $scope.session);
                    } else {
                        console.log (data.data.message);
                        window.location = '/login';
                    }
                }, function errorCallback (data){ 
                    console.log (data);
                    window.location = '/login';
                });    
            }

            $scope.sendMessage = () => {
                //$scope.chats.push ({_user: {username: "gaurav"}, message: "something"});
                var message = $('#input-message').val();
                $http({
                    method: 'POST',
                    url: '/chat/message',
                    data: {message: message}
                }). then (function successCallback (data) {
                    var response = data.data;
                    if (response.status == 'success') {
                        console.log (response);
                        socket.emit ('new-chat', response.message);
                    } else {
                        console.log ('error sending message');
                    }
                }, function errorCallback (data) {
                    console.log ('error '+ JSON.stringify(data));
                });
            }
        }]);
    </script>
</body>

</html>